@import "/src/ui/styles/style_diimmens.module.scss";
@import "/src/ui/styles/style_colors.module.scss";

.container {
    padding: $padding_desktop;
    background: $style_color_dark;
    color: $style_color_text_secondary;
    text-align: center;

    @media (max-width: 650px) {
        padding: $padding_mobile;
    }
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: $padding_desktop;

    @media (max-width: 650px) {
        margin-bottom: $padding_mobile;
        margin-top: $padding_mobile;
    }
}

.subtitle {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 40px;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

    @media (max-width: 768px) { // Tablet
        flex-wrap: wrap;
    }

    @media (max-width: 480px) { // Phone
        flex-direction: column;
        align-items: center;
    }

    .email {
        display: flex;
        align-items: center;
        margin-bottom: 0;
        margin-right: 20px; // Add margin to separate from other items

        @media (max-width: 480px) { // Phone
            margin-right: 0;
            margin-bottom: 16px;
        }

        svg {
            margin-right: 8px;
        }

        p {
            color: $style_color_text_secondary;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;

            @media (max-width: 650px) {
                font-size: 16px;
            }
        }
      
    }

    .social_buttons {
        display: flex;
        justify-content: center;
        margin-left: 20px; // Add margin to separate from email and language switcher

        @media (max-width: 480px) { // Phone
            margin-left: 0;
            margin-top: 16px;
        }

        .social_container {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            border-radius: 50%;
            width: 60px;
            height: 60px;
            border-color: $style_color_text_secondary;
            fill: $style_color_text_secondary;
            cursor: pointer;
            border-width: 1px;
            border-style: solid;
            margin-right: 8px;

            transition: all .2s ease-in-out;

            &:hover {
                opacity: 0.5;
            }

            @media (max-width: 480px) { // Phone
                margin-right: 0;
                margin-bottom: 16px;
            }
        }
    }
}

.items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 10px;

    @media (max-width: 650px) {
        margin-top: 34px;
    }

    .row {
        display: flex;
        justify-content: space-between; // Ensure even spacing between items
        width: 100%; // Ensure the row takes full width
        max-width: 800px; // Adjust as needed for your design
        margin-bottom: 10px;

        @media (max-width: 768px) { // Tablet
            flex-wrap: wrap;
            justify-content: center;
        }

        @media (max-width: 480px) { // Phone
            flex-direction: column;
            align-items: center;
        }

        > a {
            display: block;
            cursor: pointer;
            transition: color .3s ease;
            font-size: 18px;
            font-weight: 400;
            margin-right: 16px;
            margin-bottom: 10px;

            -webkit-tap-highlight-color: transparent;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            &:focus {
                outline: none;
            }

            &:hover {
                color: $style_color_green;
            }

            &:last-child {
                margin-right: 0; // Remove margin from the last item in the row
            }

            @media (max-width: 480px) { // Phone
                margin-right: 0;
                margin-bottom: 16px;
            }
        }
    }
}

.section_second {
    margin-top: 20px;
    text-align: center;

    @media (max-width: 650px) {
        margin-top: 34px;
    }

    > p {
        font-size: 18px;
        font-weight: 400;
        @media (max-width: 650px) {
            margin-left: 40px;
        }
    }
}

.promo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;

    > p {
        font-size: 11px;
        font-weight: 300;
        margin-bottom: 16px;
    }
}